/*
Harmonise v1.21
Resets styles then adds basic typographical styling
By Richard Rutter, clearleft.com
*/

/* @group Reset */

/* Based on http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

:focus {
	outline: 0;
}

/* tables may still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* @end */


body {
	padding: 0 2%;
	max-width: 61em; /* 1098px */
	margin: 0 auto;
	background: #fff;
	color:#000;
	font-family: "myriad pro", arial, helvetica, sans-serif;
    font-size:16px;
    line-height:1.125em; /* Baseline grid of 18px */
}

a:link, button.link span {
	color: #0063DC;
	text-decoration: underline;
}
a:visited {
	color: #1057ae;
	text-decoration: underline;
}
a:hover, button.link:hover {
	color: #FFFFFF; 
	text-decoration: none;
	background-color: #0063DC;
}
a:active, a:focus, button.link:focus span, button.link:hover span {
	color: #FFFFFF; 
	text-decoration: none; 
	background-color: #0259C4; 
}

/* @group Font sizes */

/* basic font sizes */
p, ul, ol, dl, table, address, blockquote, fieldset, pre, form div {
	font-size: 0.8125em;  /* 13px */
}

/* deal with likely (but certainly not all) inherited shrinkage */

ul p, ol p, table p, dl p, ul ul, ol ol, ul ol, ol ul, address p, li blockquote, blockquote p, form div div, form div p, fieldset div, table form div {
	font-size: 1em;
}

/* size headings using classic scale of 14, 16, 18, (21), 24 */

h1 {
	font-size: 1.5em;   /* 24px */
	line-height: 1.125em;  /* 27px */
}
h2 { font-size: 1.125em;   /* 18px */ }
h3 { font-size: 1.0em;     /* 16px */ }
h4 { font-size: 0.875em;   /* 14px */ }
h5, h6 { font-size: 0.8125em;  /* 13px */ }

/* @end */

/* @group Margins */

p, ul, ol, dl, address, table, pre, fieldset {
	margin-bottom: 1.385em; /* 18px */
}

form {
	margin-bottom: 1.125em; /* 18px */
}

h1 {
	margin-top:1.125em;	   /* 27px */
	margin-bottom: 0.75em; /* 18px */
}

h2 {
	margin-top:1.5em;	   /* 27px */
	margin-bottom: 0.5em;  /* 9px */	
}

h3 {
	margin-top:1.6875em;     /* 27px */
	margin-bottom: 0.5625em; /* 9px */	
}

h4 {
	margin-top:1.286em;	   /* 18px */
	margin-bottom: 0.643em; /* 9px */
}

ul ul, ol ol, ol ul, ul ol {
	margin-bottom: 0;
}

/* @end */

/* @group Lists */

.prose ul, ul.bullets, ul.bullets ul {	/* unordered lists more often DON'T require bullets except in extended bits of writing - use the .prose class or apply directly with .bullets */
	list-style-type: disc;
	margin-left: 1.385em; /* 18px */
}

ol {	/* ordered lists usually DO require bullets */
	list-style-type: decimal;
	margin-left: 2.077em; /* 27px */
}

dt {
	font-weight: bold;
	margin-top: 1.385em; /* 18px */
}

/* @end */

/* @group Tables */

table {
	border-bottom: 1px solid #666;
}

caption {
	font-weight: bold;
	padding-bottom: 0.643em; /* 9px */
	font-size:1.077em; /* 14px */
}

thead th {
	border-top: 1px solid #666;
	border-bottom: 3px solid #666;
	padding-top: 0;
	padding-bottom: 0.692em; /* 9px */
}

tbody {
	border-top: 3px solid #666;	/* not rendered in IE6/7 */
}

tbody tr th, tbody tr td {
	border-top: 1px solid #ddd;
}

th, td {
	text-align: left;
	padding: 0.385em 0.692em 0.308em 0.692em; /* 5px 9px 4px 9px */
}

/* @end */

/* @group Blockquotes */

blockquote {
	font-style: italic;
	margin:0  1.385em  1.385em 1.385em; /* 18px */
}

p+p+blockquote {
	margin-top: 1.385em;
}

blockquote cite, blockquote em {
	font-style: normal;
}

/* @end */



/* @group Forms */

/* @group Containers */

form .container {
	margin-bottom: 1.385em; /* 18px */
}


/* @group Fieldsets */

fieldset {
	border: 1px solid #ccc;
	padding: 0 1.385em 0.692em 1.385em; /* 9px 18px 0 18px */
}

legend {
	font-weight: bold;
}

form fieldset .container {
	margin-top: 1.385em; /* 18px */
	margin-bottom:0;
	position: relative;
	top: -0.692em; /* fudge to deal with IE fieldset margin/padding */
}

/* @end */

/* @end */

/* @group Labels */

label {
	font-weight: bold;
	cursor: pointer;
}

.meta-label {
	font-weight: bold;
	margin-bottom: 0;
}

.multi-container label, 
.radio-container label, 
.checkbox-container label {
	font-weight: normal;
}

.radio-container label, 
.checkbox-container label {
	display: block;
}

.compact label {
	display: inline;
}

/* @end */

/* @group Meta */

form .help {
	display: block;
	color: #777;
	font-style: normal;
	font-size: 0.846em; /* 11px */
}

/* @end */

/* @group Form controls */

input, textarea, select, button {
	font-family: inherit;
	font-size: 1em;
}

textarea, input[type='text'], 
input[type='password'], select {
	border-width: 1px;
	border-style: solid;
	border-top-color: #999;
	border-left-color: #999;
	border-bottom-color: #ccc;
	border-right-color: #ccc;
	padding: 0 1px 1px 1px;
}

textarea:focus, input[type='text']:focus, 
input[type='password']:focus, select:focus {
	border-color: #888;
	outline: 2px solid #ffffaa;
}

input.short {
	width: 4em;
}

input.medium, textarea.medium {
	width: 12em;
}

input.long, textarea.long {
	width: 30em;
}

textarea {
	width: 99%;
	display: block;
}

.button-container input {
	font-weight: bold;
}

.button-container input.cancel {
	font-weight: normal;
}

button.link {
	border: 0;
	padding: 0;
	background-color: #fff;
	font-weight: normal;
	cursor: pointer;
	width: auto;
	overflow: visible;
}

/* accessability feature, resize check and radio inputs */
.radio-container input, 
.checkbox-container input {
	width: 1em;
	height: 1em;
}

/* @end */

/* @end */

/* @group Other styling */

address {
	font-style: normal;
}

pre, code, kbd, tt, samp, tt {
	font-family: "andale mono", monospace;
}

ins {
	text-decoration: underline;
}

del {
	text-decoration: line-through;
}

/* @end */

